################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlowDuo/x64/Debug
/.vs/FlowDuo.slnx
/x64/Debug
*.log,append
