#############################################################
# This .gitignore file was automatically created by Your mom.
#############################################################

/.vs/FlowDuo.slnx
*.log,append
enc_temp_folder
x64