################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlowDuo/x64/Debug
/.vs/FlowDuo.slnx
/x64/Debug
*.log,append
/enc_temp_folder/65268e5b73978a35b075726419644ad/Graphics.cpp
/LibCubeRenderer/include
/LibCubeRenderer
enc_temp_folder
/FlowDuo/x64/Release/AccelerometerReader.obj
/FlowDuo/x64/Release
/x64/Release
